  <form action="/api/login" method="POST">
    <div class="container">

    <h1  class="titulo">Login de usuario</h1>
        <div class="mb-3">
            <label for="" class="form-label">Ingrese su nombre</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Ingrese su contraseña</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="">
        </div>
        <button type="submit" class="boton">Enviar</button>

  </form>
  <br>  <br>

  <a class="btn btn-primary" href="/api/registro" role="button">Ir al registro</a>
</div>