<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>USER ERROR SIGNUP</h1>

<a class="btn btn-primary" href="/api/registro" role="button">Volver</a>
    </div>
</div>